<md-card>
    <md-card-content>
        <h1>Article Creation</h1>

        <div *ngIf="!success">
            <app-article-form [buttonLabel]="'Create'" [error]="error" (formSubmit)="onFormSubmit($event)" #articleForm></app-article-form>
        </div>

        <div *ngIf="success">
            <p>
                Your article has been created
                <a routerLink="/articles/{{createdSlug}}">here</a>! &nbsp;
                <button md-raised-button (click)="onCreateOther() && articleForm.reset()">Create other one!</button>
            </p>
        </div>

    </md-card-content>
</md-card>