<md-sidenav-container>
    <md-sidenav #sidenav mode="push" align="start">
        Sidenav content

    </md-sidenav>
    <md-toolbar color="primary">
        <button md-button (click)="sidenav.open()">
            <md-icon class="md-24">menu</md-icon>
        </button>
        <span>Blog</span>
        <span class="spacer"></span>
        <app-blog-header></app-blog-header>
    </md-toolbar>

    <md-list>
        <md-list-item *ngFor="let message of messages">
            <h3 md-line> {{message.from}} </h3>
            <p md-line>
                <span> {{message.subject}} </span>
                <span class="demo-2"> -- {{message.content}} </span>
            </p>
        </md-list-item>
    </md-list>

    <!-- three line list -->
    <md-list>
        <md-list-item *ngFor="let message of messages">
            <h3 md-line> {{message.from}} </h3>
            <p md-line> {{message.subject}} </p>
            <p md-line class="demo-2"> {{message.content}} </p>
        </md-list-item>
    </md-list>

    <router-outlet></router-outlet>

</md-sidenav-container>