$nav-item-font-size: 0.9em;
$nav-item-space: 15px;
nav {
    a:visited,
    a {
        color: white;
        cursor: pointer;
        font-size: $nav-item-font-size;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    a+a {
        margin-left: $nav-item-space
    }
    .avatar {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        vertical-align: text-bottom;
    }
}

.header-title {
    color: white;
    margin-left: $nav-item-space;
    text-decoration: none;
    line-height: 40px;
}

.spacer {
    flex: 1 1 auto;
}