<a class="header-title" routerLink="/">Blog</a>
<span class="spacer"></span>
<nav>
    <span *ngIf="!isLoggedIn()">
        <a routerLink="/login">Login</a>
        <a routerLink="/singin">Sing in</a>
    </span>

    <span *ngIf="isLoggedIn()">
        <a routerLink="/account">
            <img [src]="avatarSrc" alt="user" class="avatar">
            Hello, {{ getUser()?.firstname }}
        </a>
        <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        
        <md-menu #menu="mdMenu">
            <button md-menu-item routerLink="/account">
                <md-icon>account_circle</md-icon>
                <span>Account</span>
    </button>
    <button md-menu-item routerLink="">
                <md-icon>list</md-icon>
                <span>My Articles</span>
            </button>
    <button md-menu-item (click)="logout()">
                <md-icon>exit_to_app</md-icon>
                <span>Logout</span>
            </button>
    </md-menu>
    </span>
</nav>