<form [formGroup]="passwordForm" (ngSubmit)="passwordForm.valid && onPasswordSubmit()">
    <h1 md-dialog-title>Change Password</h1>

    <md-dialog-content>

        <p *ngIf="error" class="error">
            {{error}}
        </p>

        <md-input-container [floatPlaceholder]="auto" dividerColor="primary" align="start">
            <input mdInput formControlName="password" type="password" required placeholder="Password">
        </md-input-container>

        <md-input-container [floatPlaceholder]="auto" dividerColor="primary" align="start">
            <input mdInput formControlName="password_confirm" type="password" required placeholder="Password Confirmation">
        </md-input-container>

    </md-dialog-content>

    <md-dialog-actions class="flex-right">
        <button md-raised-button md-dialog-close>Cancel</button>
        <button md-raised-button type="submit" [disabled]="!passwordForm.valid" color="primary">Save</button>
    </md-dialog-actions>
</form>