<md-card>
    <md-card-content>
        <h1>About</h1>
        <p>
            This Blog was created to help people to create single page applications using `angular 2` or any other spa js frameworks. The repository is providing a RESTfull Api, ready to be used.
        </p>
        <h2>Second title</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>
    </md-card-content>
</md-card>