<md-list *ngIf="article?.comments">
    <md-list-item *ngFor="let comment of article.comments">
        <h3 md-line> {{comment.author.firstname + ' ' + comment.author.lastname}} </h3>
        <p md-line>
            <span class="comment-message">{{comment.message}}</span>
            <small class="comment-date text-right">({{comment.created_at|date}})</small>
        </p>
    </md-list-item>
</md-list>

<div *ngIf="isLoggedIn()">
    <br>
    <form [formGroup]="form">

        <md-input-container [floatPlaceholder]="auto" dividerColor="primary" align="start">
            <textarea mdInput formControlName="message" required placeholder="Message..."></textarea>
        </md-input-container>

        <p class="text-right">
            <button md-raised-button type="submit" (click)="onFormSubmit()">Add Comment</button>
        </p>
    </form>
</div>