<md-card *ngIf="article">
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>
            <h1>
                {{ article.title}}
            </h1>
        </md-card-title>
        <md-card-subtitle>
            <span *ngFor="let cat of article?.category, let isLast=last">
                {{ cat|ucfirst }}
                <span *ngIf="!isLast">, </span>
            </span>
        </md-card-subtitle>
    </md-card-header>
    <img md-card-image *ngIf="article.image" [src]="imageHost + article.image">
    <md-card-content>
        <blockquote class="text-left">{{article.body}}</blockquote>
        <p class="text-right">
            by: {{ article?.author?.firstname}} {{ article?.author?.lastname}}
            <br><small>{{ article?.created_at|date }}</small>
        </p>
        <p *ngIf="isOwner()">
            <button md-raised-button (click)="onDelete()" color="warn">Delete</button>
        </p>
    </md-card-content>
</md-card>
<br>

<md-card>
    <md-card-title-group>
        <md-card-title>Comments</md-card-title>
    </md-card-title-group>
    <md-card-content>
        <app-article-comments [article]="article"></app-article-comments>
    </md-card-content>
</md-card>