md-card-title h1 {
    margin: 0;
}

md-card-header {
    height: 55px;
}

md-list-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.comment-message {
    display: block;
    padding: 10px 0 10px 15px;
}

.comment-date {
    display: block;
    margin-top: -5px;
}