<form [formGroup]="passwordForm" (ngSubmit)="passwordForm.valid && onPasswordSubmit()">
    <h1 md-dialog-title>Change Password</h1>

    <md-dialog-content>

        <md-input-container [floatPlaceholder]="auto" dividerColor="primary" align="start">
            <input mdInput formControlName="password" type="password" required placeholder="Password">
        </md-input-container>

        <md-input-container [floatPlaceholder]="auto" dividerColor="primary" align="start">
            <input mdInput formControlName="password_confirm" type="password" required placeholder="Password Confirmation">
        </md-input-container>

        <md-input-container [floatPlaceholder]="auto" dividerColor="primary" align="start">
            <input mdInput formControlName="old_password" type="password" required placeholder="Old Password">
        </md-input-container>
    </md-dialog-content>

    <md-dialog-actions class="text-right">
        <button md-raised-button md-dialog-close>Cancel</button>&nbsp;
        <button md-raised-button type="submit" [disabled]="!passwordForm.valid">Save</button>
    </md-dialog-actions>
</form>