<form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()" novalidate>
    <md-card>
        <h1>Login</h1>
        <p *ngIf="error" class="error-message">{{ error }}</p>
        <p>
            <md-input-container [floatPlaceholder]="auto" dividerColor="primary|accent|warn" align="start">
                <input mdInput formControlName="email" type="email" required placeholder="Email">
            </md-input-container>
        </p>
        <p>
            <md-input-container [floatPlaceholder]="auto" dividerColor="primary|accent|warn" align="start">
                <input mdInput formControlName="password" type="password" required placeholder="Password">
            </md-input-container>
        </p>
        <p>
            <button md-raised-button type="submit" [disabled]="!loginForm.valid">Login</button>
        </p>
    </md-card>
</form>