$nav-item-font-size: 0.9em;
$nav-item-space: 10px;
nav {
    a:visited,
    a {
        color: white;
        cursor: pointer;
        font-size: $nav-item-font-size;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    span {
        font-size: $nav-item-font-size;
        padding-left: $nav-item-space;
    }
}