$nav-item-font-size: 0.9em;
$nav-item-space: 10px;
nav {
    a {
        cursor: pointer;
        font-size: $nav-font-size;
    }
    span {
        font-size: $nav-item-font-size;
    }
}

a {
    cursor: pointer;
    font-size: 0.9em;
    padding-left: 10px;
}