app-header {
    white-space: nowrap;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav {
    width: 300px;
}

.content {
    padding: 15px;
    max-width: 1024px;
    margin: 0 auto;
}