<md-card class="breadcrumb-container">
    <app-breadcrumb [data]="breadcrumb"></app-breadcrumb>
</md-card>

<h1>Home</h1>

<div *ngIf="articles.length">
    <md-card *ngFor="let article of articles|slice:0:10">
        <md-card-header>
            <md-card-title>
                <h3>
                    <a>{{ article?.title }}</a>
                </h3>
            </md-card-title>
            <md-card-subtitle>
                <span *ngFor="let cat of article.category, let isLast=last">
                        {{ cat|ucfirst }}
                        <span *ngIf="!isLast">, </span>
                </span>
            </md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <p>
                {{article?.body|shortify:500:' ...'}}
            </p>
            <p class="text-right">
                by: {{ article?.author?.firstname}} {{ article?.author?.lastname}}
                <br><small>{{ article?.created_at|date }}</small>
            </p>
        </md-card-content>
        <md-card-actions class="text-right">
            <a md-raised-button routerLink="articles/details/{{article.slug}}">More</a>
        </md-card-actions>
    </md-card>

    <div *ngIf="total > perPage" class="pagination">
        <hr>
        <ul>
            <li *ngFor="let p of getPagesArr(), let i=index, let last=last, let first=first">
                <a md-raised-button (click)="goToPage(p)" [color]="p === page? 'primary' : ''">{{p}}</a>
            </li>
        </ul>
        {{page * perPage - perPage}} - {{ page * perPage}} of {{ total }} articles
    </div>

</div>