md-card {
    margin-bottom: 15px;
}

md-card-title h3 {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: none;
}

.pagination {
    margin-top: 15px;
    ul {
        list-style: none;
        padding-left: 0px;
        li {
            display: inline-block;
            a {
                min-width: 0;
            }
        }
    }
}